* {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.bold {
    font-weight: bold;
}

$roboto: 'Roboto', sans-serif;
$primary: orangered;
$bgrey: rgb(245,245,245);



@mixin btn() {
    background-color: $primary;
    height: 50px;
    border: none;
    border-radius: 12px;
    padding: 0 15px;
    color: white;
    font-size: 1.1rem;
    box-shadow: 0px 2px 10px 1px black;
    font-family: $roboto;
}

html, 
body {
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    .header_mobile {
        width: 100vw;

        .logo_container,
        .menu_container {
            height: 10vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo_container {
            a {
                .logo_img {
                    height: 10vh;
                }
            }

        }

        .menu_container {
            .menu_icon_container {
                .menu_icon_img {
                    width: 10vw;
                }

            }

        }

        .menu_mobile {
            display: none;
            height: 100vh;
            width: 100vw;
            position: absolute;
            top: 0;
            background-color: white;
            z-index: 1000;

            .close_menu_btn {
                margin-top: 5vh;
                margin-bottom: 5vh;
                display: flex;
                justify-content: flex-end;

                i {
                    font-size: 2rem;
                    margin-right: 15vw;
                }
            }

            ul {
                margin: 0;
                list-style-type: none;
                padding: 0;
                margin-top: 5vh;

                li {
                    font-size: 1.7rem;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 3vh;
                }

                .trait {
                    height: 1px;
                    background-color: black;
                    width: 50vw;
                    margin-left: 25vw;
                    margin-bottom: 3vh;
                }
            }
        }
    }
}

body {
    section {
        min-height: 100vh;

        .section_title {
            padding-top: 5vh;
            text-align: center;
            color: $primary;
            margin-bottom: 8vh;
        }
    }

    #jumbotron {
        min-height: 80vh;
        position: relative;

        .jumbo_bgi {
            height: 80vh;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -10;
            filter: grayscale(55%);
            opacity: 0.6;
        }

        .jumbo_div {
            position: relative;
            padding-top: 20vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            

            .jumbo_txt {
                text-align: center;
                color: white;
                margin-bottom: 5vh;
                background-color: rgba(50,50,50,0.5);
                width: 70vw;
                padding: 5vw;
                font-family: $roboto;
            }

            .jumbo_btn {
                @include btn();
            }
        }
    }

    #project {
        .project_intro {
            padding: 0 30px;
            text-align: center;
        }

        #carouselExampleControls {
            height: 50vh;
            margin: 10vh 5vw;

            .carousel-item {
                .d-block {
                    height: 45vh;
                    width: auto;
                }
            }
        }
    }

    #search {
        padding-top: 5vh; 
        background-color: $bgrey;
        display: flex;
        flex-direction: column;
        align-items: center;

        .search_intro {
            text-align: center;
            margin-bottom: 10vh;
            width: 80vw;

            .values_link {
                text-decoration: underline;
                color: $primary;
            }
        }

        .form_link {
            @include btn();
        }
    }

    #tech {

    }

    #eco {
        background-color: $bgrey; 
    }

    #values {

    }

    #team {
        background-color: $bgrey;
        padding-top: 10vh;
        .team_avatars {
            .team_avatar {
                width: 100vw;
                padding: 0 5vw;
                margin-bottom: 20vh;
                .avatar_head {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .avatar_img_container {
                        
                        border-radius: 50%;
                        width: 70vw;
                        height: 70vw;

                        img {
                            width: 70vw;
                            height: 70vw;
                            border-radius: 50%; 
                            border: 3px solid $primary;
                        }
                    }
                    .avatar_name {
                        color: whitesmoke;
                        font-weight: bold;
                        letter-spacing: 2px;
                        font-size: 1.3rem;
                        border: 3px solid $primary;
                        border-radius: 10px;
                        padding: 5px 70px;
                        transform: translateY(-10vh);
                        background-color: $primary;
                    }
                }
                .avatar_info {
                    .avatar_job {
                        font-weight: bold;
                        text-align: center;
                        margin-bottom: 5vh;
                    }
                    .avatar_mail {
                        display: flex;
                        justify-content: center;
                        .avatar_mail_link {
                            color: $primary;
                            text-align: center;
                        }
                    }
                }
            }

            .last_team_avatar {
                padding-bottom: 5vh;
            }
        }
    }

    #partner {
        padding-bottom: 10vh;

        .cobod_intro {
            .cobod_logo_container {
                display: flex;
                justify-content: center;
                margin-bottom: 10vh;

                a {
                    display: flex;
                    justify-content: center;
                    background-color: rgb(25, 25, 25);
                    padding: 3vh 0;
                    width: 70vw;
                }
            }

            .cobod_text {
                padding: 0 10vw;
                text-align: center;
                margin-bottom: 10vh;

                .cobod_link {
                    text-decoration: underline;
                }
            }

            .cobod_printer {
                margin-bottom: 10vh;

                a {
                    div {
                        text-align: center;
                        text-decoration: underline;
                        margin-bottom: 3vh;
                    }

                    img {
                        width: 80vw;
                        margin-left: 10vw;
                    }
                }
            }

            .cobod_partnership {
                text-align: center;
                padding: 0 10vw; 
            }
        }
    }

    #contact {
        padding-top: 5vh;
        background-color: $bgrey;

        .contact_form_container {
            form {
                width: 80vw;
                margin-left: 10vw;

                .field_container {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 5vh;

                    label {
                        margin-bottom: 2vh;
                    }

                    input, 
                    textarea {
                        background-color: $bgrey;
                        border: none;
                        border-bottom: 1px solid $primary;
                        padding-bottom: 1vh;
                        &:active,
                        &:focus {
                            outline: none;
                            border-bottom: 2px solid $primary;
                        }                    
                    }

                    #submit_btn {
                        @include btn();
                    }
                }
            }
        }

        .contact_info {
            margin: 10vh 15vw 0 15vw;
            padding-bottom: 10vh; 
            text-align: center;
            display: flex;
            flex-direction: column;

            a {
                text-decoration: underline;
                color: $primary;
            }

            .mail_link {
                margin-bottom: 5vh;
            }
        }
    }

    .up {
        position: fixed;  
        height: 7vh;
        width: 7vh;
        border: 2px solid black;
        top: 90vh;
        left: 80vw;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        background-color: white;

        .fa-angle-up {
            font-size: 2rem;
            line-height: 7vh;
        }
    }
}

@media only screen and (min-width: 800px) {
    .header_mobile {
        display: flex;
        justify-content: space-between;

        .logo_container,
        .menu_container {
            width: 50vw;
            display: flex;
        }

        .logo_container {
            justify-content: flex-start!important;
            padding-left: 3vw;
        }

        .menu_container {
            justify-content: flex-end!important;
            padding-right: 5vw;

            .menu_icon_img {
                width: 3vw!important;
            }
        }
    }

    #jumbotron {
        height: 90vh!important;

        .jumbo_bgi {
            height: 90vh!important;
        }

        .jumbo_txt {
            width: 40vw!important;
        }
    }

    .up {
        left: 90vw!important;

    }
}

/* animations */
  

  